{# app\Resources\views\default\participante\nuevo.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<h2>Nuevo Participante</h2>
{% if (status !=null) %}
    <h3>{{status}}</h3>
{% endif %}
{{ form_start(form) }}
{{ form_errors(form)}}
{{ form_widget(form.nombre)}} <p/>

{{ form_widget(form.correo)}} <p/>
{{ form_row(form._token) }}
{{ form_widget(form.save, {'label':'Insertar participante'}) }}
{{ form_widget(form.cancel, {'label':'Cancelar'}) }}
{{ form_end(form,{'render_rest':false}) }}

<a href="{{ path('homepage') }}">Cancelar</a>


{% endblock %}