{# app\Resources\views\default\participante\nuevo.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}


{% if (status !=null) %}
    <h3>{{status}}</h3>
{% endif %}
{{ form_start(form) }}
{{ form_errors(form)}}
<tr>
	<td>
		{{ form_widget(form.nombre)}} 
	</td>
	<td>
		{{ form_widget(form.correo)}} 
	</td>
	<td>
		{{ form_widget(form.save, {'label':'Modificar'}) }}
		{{ form_widget(form.cancel, {'label':'Borrar'}) }}
	</td>
</tr>



{{ form_row(form._token) }}

{{ form_end(form,{'render_rest':false}) }}

{% endblock %}