{# app\Resources\views\default\index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
   
    <div> 
      
                {% set pos = 0 %}
                    {% for message in app.flashes('min3') %}
                        <div class="alert alert-error">{{ message }}</div>
                    {% endfor %}
                  {#
                {% if app.session.flashbag().get('min3') is defined %}
                    {% for message in app.session.flashbag().get('min3') %}
                        <div class="alert alert-error">{{ message }}</div>   
                    {% endfor %}
                {% endif %}
                #} 
                {% if arrPosiciones is defined %}
                  {{dump(arrPosiciones)}}
                {% endif %}
              {{ form_start(form) }}
                {{ form_errors(form)}}      
                <div><h1>SORTEO DEL AMIGO INVISIBLE</h1></div>
                <div><strong>¿Alguien no ha recibido su e-mail?</strong><br/>
                    Puedes <a href="{{ path('recuperar') }}">recuperar el sorteo </a> 
                </div>
              
                <table class="table table-hover">
                  <div class="participantes list-unstyled "> 
              
                    {% form_theme form.participantes 'default/themes/participante-theme.html.twig' 'jquery.collection.html.twig' 
                                %}
                  {{form_row(form.participantes)}}
   
            </div>
                </table>
   
            {{ form_row(form._token) }}
            <div>
            {{ form_widget(form.save, {'label':'Crea Sorteo'}) }}  
            </div>
            {{ form_end(form,{'render_rest':false}) }}

              
       <script src="{{ asset('js/jquery.js') }}"></script>

    <script src="{{ asset('js/jquery.collection.js') }}"></script>
  <script src="{{ asset('bundles/app/js/participantes.js') }}"></script>

{% endblock %}





