{# app\Resources\views\default\index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{dump(codigo)}}
    <div> 
      
                {% set pos = 0 %}
                    {% for message in app.flashes('min3') %}
                        <div class="alert alert-error">{{ message }}</div>
                    {% endfor %}
                  {#
                {% if app.session.flashbag().get('min3') is defined %}
                    {% for message in app.session.flashbag().get('min3') %}
                        <div class="alert alert-error">{{ message }}</div>   
                    {% endfor %}
                {% endif %}
                #} 
              {{ form_start(form) }}
                {{ form_errors(form)}}      
                <div><h1>SORTEO DEL AMIGO INVISIBLE</h1></div>
                <div><strong>¿Alguien no ha recibido su e-mail?</strong><br/>
                    Puedes <a href="{{ path('recuperar') }}">recuperar el sorteo </a> 
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>nombre</th>
                            <th>correo</th>
                        {#    <th>asignado</th>
                            <th>sorteo</th> #}
                        </tr>
                    </thead>
                    <tbody>
              
                   {% for participante in participantes %}
                        <tr class="participantes" data-prototype="{{ form_widget(form.participantes.vars.prototype)|e('html_attr') }}">
                        <td>

                            {{ render(controller('AppBundle:Participantes:nueva',{'participante': participante}                    )) }}
                            
                        </td>
                    </tr>
                    
                    
                   {% endfor %}

            
                </tbody>
                </table>
   
            {{form_row(form.codigoSorteo)}}
            {{ form_row(form._token) }}
            <div>
            {{ form_widget(form.save, {'label':'Crea Sorteo'}) }}  
            </div>
            {{ form_end(form,{'render_rest':false}) }}

       </div>         
      

{% endblock %}





