{# app\Resources\views\default\index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
                {% set pos = 0 %}
                {#   
                {% if app.session.flashbag().get('min3') is defined %}
                    {% for message in app.session.flashbag().get('min3') %}
                        <div class="alert alert-error">{{ message }}</div>   
                    {% endfor %}
                {% endif %}
                #} 
                <div><h1>SORTEO DEL AMIGO INVISIBLE</h1></div>
                <div><strong>¿Alguien no ha recibido su e-mail?</strong><br/>
                    Puedes <a href="{{ path('recuperar') }}">recuperar el sorteo </a> 
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>nombre</th>
                            <th>correo</th>
                        {#    <th>asignado</th>
                            <th>sorteo</th> #}
                        </tr>
                    </thead>
                    <tbody>
                   {% for participante in participantes %}
                    <tr>
                        <td>
                            {{ render(controller('AppBundle:Participantes:nueva',{'participante': participante}                    )) }}

                        </td>
                    </tr>
                    
                    
                   {% endfor %}

            {% if recuperado %}
            <tr>
                <td>
                    <a href="{{ path('homepage_sorteo',{'id':idSorteo}) }}">Editar Correo</a>
                </td>
            </tr>
            {% else %}{#recuperado = false #}
                {% if contador > 2 %}{# si no hay mas de dos participantes#}
                     <tr>
                            <td><a href="{{ path('sorteo_modificar') }} "> Sortear </a></td> 
                       {% if pos >= numpart %}
                      
                            <td><a href="{{ path('homepage_nueva') }}">Añadir mas amigos </a> </td>
                      
                        {%  endif  %}
                    </tr>
                {% endif %}
            {% endif %} {#fin recuperado#}
                </tbody>
                </table>
       <div> 
            {{ form_start(form) }}
            {{ form_errors(form)}}   
            {{ form_row(form._token) }}
            {{ form_widget(form.save, {'label':'Crea Sorteo'}) }}  
            {{ form_end(form,{'render_rest':false}) }}

       </div>         
      

{% endblock %}





