{# app\Resources\views\default\sorteo.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
        <h1>datos sorteo</h1>
        
   {{ form_start(form) }}
 
    {{ form_widget(form.asunto) }}
    {{ form_widget(form.mensaje) }}

{# 
    <h3>Participantes</h3>
    <ul class="participante list-unstyled">

        {% for participante in form.participantes %}
            <li>{{ form_row(participante.nombre,{'attr':{'disabled':'disabled'}}) }}</li>
        {% endfor %}
    </ul> 
#}
    {{ form_row(form._token) }}
    {{ form_widget(form.save, {'label':'paso 3'}) }}
    {{ form_widget(form.cancel, {'label':'Volver'}) }}
    {{ form_end(form,{'render_rest':false}) }}
             
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}