{# app\Resources\views\default\sorteo.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
        
        
   {{ form_start(form) }}
 
    {{ form_widget(form.asunto) }}
    {{ form_widget(form.mensaje) }}


    <h3>Participantes</h3>
    <ul class="participante">
        {# iterate over each existing tag and render its only field: name #}
        {% for participante in form.participantes %}
            <li>{{ form_widget(participante.nombre) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}

 
                       
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}