{# app\Resources\views\default\rescate\reenvio.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
   <div>
    <div>
             {% for message in app.flashes('exito') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
              {% for message in app.flashes('fallo') %}
                        <div class="alert alert-error">{{ message }}</div>
                    {% endfor %}
    </div>             
        <h1>ESCRIBE EL E-MAIL DE TU AMIGO Y REENVIALO</h1>
    <h4>esta persona recibira en este e-mail el mismo nombre del amigo que le habia tocado</h4>

  
   
          {{form_widget(form.codigoSorteo)}}
          {{form_widget(form.asunto)}}
          {{form_widget(form.mensaje)}}
          {% for participante in form.participantes %}
          {#
            {{ render(controller('AppBundle:Participantes:reenvio',{'participante': participante,'sorteo':sorteo})) }}
          #}  
          {{form_widget(participante.nombre)}}
          {{form_widget(participante.correo)}}
          {{form_widget(participante.asignado)}}

          {% endfor %}
          <div>{{form_widget(form.save)}}</div>
          <div>{{form_widget(form.cancel)}}</div>
                  
   </div>
   
       

 
                       
{% endblock %}